.Split-Pane {
    display: flex;
    flex-direction: row;
}
.Left-Pane {
    grid-column: 1;
    grid-row: 1;
    width: 50%;
}
.Right-Pane {
    grid-column: 2;
    grid-row: 1;
    width: 50%;
}

.GlobalWinText {
    text-align: center    
}